{% extends 'project/index.html' %}

{% block title %}Register{% endblock %}
{% load static %}

{% block stylesheets %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="signin">
    <form class="form-group login" action="{% url 'create_user' %}" method="post">
        {% csrf_token %}
        <div class="form-group col col8">
            <h2 class="form-signin-header col">Sign Up</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-group col col8">
            <label for="email" class="sr-only">Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
        </div>

        <div class="form-group col col8">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group col col8">
            <button class="btn btn-primary btn-submit" type="submit">Sign up</button>
        </div>
    </form>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
</div>

{% endblock %}