{% extends 'project/index.html' %}

{% block title %}Login{% endblock %}
{% load static %}
{% block stylesheets %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="signin">
    <form class="form-group login" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group col col8">
            <h2 class="form-signin-header col">Please sign in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-group col col8">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        {% if message %}
            <div class="alert alert-error" style="margin: auto;">
                {{ message }}
            </div>
        {% endif %}

        <div class="form-group col col8">
            <button class="btn btn-primary btn-submit" type="submit">Sign in</button>
        </div>
    </form>

</div>

{% endblock %}

