{% extends 'project/index.html' %}

{% block title %}Events{% endblock %}
{% block body %}
<section class="section">
    <div class="section-body">
        <h1 class="section-title">Events</h1>
        {% if events %}
        <table class="table">
            <thead>
            <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Date {{ request.user.staff.role }} </th>
                <th> Created By </th>
                <th> Assistance </th>
                <th class="cell-icon"> Edit </th>
                <th class="cell-icon"> Delete </th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <td><span>{{ event.name }}</span></td>
                <td><span>{{ event.description}}</span></td>
                <td><span>{{ event.date| date:"d/m/Y" }}</span></td>
                <td><span>{{ event.created_by }}</span></td>
                <td class="cell-icon">
                    <span>
                        {% if event.assistance is False %}
                            <i class="fa fa-times red" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-check green" aria-hidden="true"></i>
                        {% endif %}
                    </span>
                </td>
                <td class="cell-icon">
                    <a href="{% url 'edit_event' event.id %}" class="orange">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td class="cell-icon">
                    <a href="{% url 'delete_event' event.id %}" class="red">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="message">
                {% if message %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <nav>
        <ul class="pagination">
            {% if events.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ events.previous_page_number }}">
                    {{ events.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="current {% if events.paginator.num_pages == 1 %}
                           one-item
                       {% endif%}">
                <a class="page-link" href="?page=1">{{ events.number }}</a>
            </li>

            {% if events.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ events.next_page_number }}">
                    {{ events.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ events.paginator.num_pages }}">
                    Last
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</section>

{% endblock %}