{% extends 'project/index.html' %}

{% block title %}Events{% endblock %}
{% block body %}
<section class="section">
    <div class="section-body">
        <h1 class="section-title">Events</h1>

        <div class="input-group">
            {% if request.user.staff.role|stringformat:"s" == "Admin" %}
                <a href="{% url 'new_event' %}" class="btn btn-primary" style="position: absolute;">New Event</a>
            {% endif %}
            <form action="{% url 'events' %}" method="get" class="form-group" style="width: 100%">
                <div class="col col2 right">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search for events">
                    <button class="btn btn-accept right" type="submit" style="margin-right: 3px">Search</button>
                </div>
            </form>
        </div>
    </div>

    {% if events %}
    <div class="event-container">

        {% for event in events %}
            <div class="event col col2">
                <div class="event-header">
                    <span>{{ event.name }}</span>

                    <div class="tooltip">
                        <!-- Check User is participating -->

                        {% if event.id in event_staff %}
                            <i class="fa fa-check green" aria-hidden="true"></i>
                            <span class="tooltiptext">Participating</span>
                        {% else %}
                            <i class="fa fa-times red" aria-hidden="true"></i>
                            <span class="tooltiptext">Not participating</span>
                        {% endif %}
                    </div>

                    <div class="event-options right">
                        {% ifequal event.assistance True %}
                            {% if event.id not in event_staff %}
                                <div class="tooltip">
                                    <a href="{% url 'add_staff_event' event.id %}" class="green">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                    <span class="tooltiptext">Participate</span>
                                </div>
                            {% else %}
                                <div class="tooltip">
                                    <a href="{% url 'delete_staff_event' event.id %}" class="red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <span class="tooltiptext">Unsubscribe</span>
                                </div>
                            {% endif %}
                        {% endifequal %}
                        {% if request.user.staff.role|stringformat:"s" == "Admin" %}
                        <a href="{% url 'edit_event' event.id %}" class="orange">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{% url 'delete_event' event.id %}" class="red">
                            <i class="fas fa-trash"></i>
                        </a>
                        {% endif %}
                    </div>

                </div>
                <div class="event-body">
                    <p>{{ event.description }}</p>
                    <span><b>Date: </b> {{ event.date| date:"d/m/Y" }}</span><br>
                    <span><b>Location: </b>{{ event.location }}</span><br>
                    <span><b>Created by: </b> {{ event.created_by }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="message">
        {% if message %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endif %}
        </div>
    {% endif %}

    <nav>
        <ul class="pagination">
            {% if events.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ events.previous_page_number }}">
                    {{ events.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="current {% if events.paginator.num_pages == 1 %}
                           one-item
                       {% endif%}">
                <a class="page-link" href="?page=1">{{events.number}}</a>
            </li>

            {% if events.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ events.next_page_number }}">
                    {{events.next_page_number}}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ events.paginator.num_pages }}">
                    Last
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</section>
{% endblock %}