{% extends 'project/index.html' %}
{% load static %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">{{ issue.name }} /
            <a href="{% url 'project' issue.project.id %}">{{ issue.project }}</a>
        </h1>

        <!-- Issue data -->
        <div class="col" style="display: flex">
            <div class="col col4">
                <span class="ps-label">Description</span>
                <p>{{ issue.description }}</p>
                <div class="input-group">
                    <a href="{% url 'edit_issue' issue.id %}" class="btn btn-primary form-submit">Edit</a>
                </div>
            </div>

            <div class="col col4 project-sidebar">
                <div class="col8 ps-container">
                    <div class="col4 ps-group">
                        <p class="ps-label">Status</p>
                        <span>{{ issue.status }}</span>
                    </div>
                    <div class="col4 ps-group">
                        <p class="ps-label">Priority</p>
                        <span>{{ issue.priority }}</span>
                    </div>
                </div>
                <div class="col8 ps-container">
                    <div class="col4 ps-group">
                        <p class="ps-label">Created</p>
                        <span>{{ issue.created| date:"d/m/Y - H:i:s" }}</span>
                    </div>
                    <div class="col4 ps-group">
                        <p class="ps-label">Last Update</p>
                        <span>{{ issue.last_update| date:"d/m/Y - H:i:s" }}</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <form class="form-group" action="{% url 'create_comment' issue.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group col col8">
                <div class="col col8">
                    <label for="text">Write a comment</label>
                    <textarea class="col col8" id="text" cols="30" rows="5"
                              name="text" placeholder="Write a comment"></textarea>
                </div>
            </div>

            <div class="input-group col" style="float: right; margin-bottom: 10px;">
                <button class="btn btn-primary form-submit" type="submit">Comment</button>
            </div>

            <hr>
        </form>

        <!-- Comment box -->
        <h1>Comments</h1>
        {% if issue.issue_comment.count %}
            {% for comment in issue.issue_comment.all %}
            <div class="comment">
                <div class="comment-body">
                    <div>
                        <span><b>{{ comment.author }}</b> / {{ comment.date| date:"d/m/Y - H:i:s" }}</span>
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="message">
                <div class="alert alert-error">
                    0 Comments found.
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}