{% extends 'project/index.html' %}
{% load static %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">{{ message.subject }} </h1>

        <!-- Issue data -->
        <div class="col" style="display: flex">
            <div class="col col4">
                <span class="ps-label">Message</span>
                <p>{{ message.text }}</p>
            </div>

            <div class="col col4 project-sidebar">
                <div class="col8 ps-container">
                    <div class="col4 ps-group">
                        <p class="ps-label">From</p>
                        <span>{{ message.sender }}</span>
                    </div>
                    <div class="col4 ps-group">
                        <p class="ps-label">Date</p>
                        <span>{{ message.date }}</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>
</section>
{% endblock %}