{% extends 'project/index.html' %}

{% block title %}Messages{% endblock %}
{% block body %}
<section class="section">
    <div class="section-body">
        <h1 class="section-title">Messages</h1>
        <div class="input-group">
            <a href="{% url 'new_message' %}" class="btn btn-primary" style="position: absolute;">New message</a>

            <form action="{% url 'messages' %}" method="get" class="form-group" style="width: 100%">
                <div class="col col2 right">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search for messages">
                    <button class="btn btn-accept right" type="submit" style="margin-right: 3px">Search</button>
                </div>
            </form>
        </div>
        {% if messages %}
        <table class="table">
            <thead>
                <tr>
                    <th> Subject </th>
                    <th> From </th>
                    <th> Read </th>
                    <th> Urgent </th>
                    <th> Date </th>
                    <th class="cell-icon"> Delete </th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td class="table-main-cell">
                        <a href="{% url 'message' message.id %}">
                            {{ message.subject }}
                        </a>
                    </td>
                    <td> {{ message.sender }} </td>
                    <td>
                        {% if message.read is False %}
                            <i class="fa fa-times red" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-check green" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if message.urgent is False %}
                            <i class="fa fa-times red" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-check green" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td style="width: -moz-min-content;"> {{ message.date }} </td>
                    <td class="cell-icon">
                        <a href="{% url 'delete_message' message.id %}" class="red">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="message">
            {% if message %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>

    <nav>
        <ul class="pagination">
            {% if messages.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ messages.previous_page_number }}">
                    {{ messages.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="current {% if messages.paginator.num_pages == 1 %}
                           one-item
                       {% endif%}">
                <a class="page-link" href="?page=1">{{ messages.number }}</a>
            </li>

            {% if messages.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ messages.next_page_number }}">
                    {{ messages.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ messages.paginator.num_pages }}">
                    Last
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</section>

{% endblock %}