{% extends 'project/index.html' %}
{% load static %}
{% block stylesheets %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block body%}
<section class="section">
    <div class="section-body">
        <h1 class="section-title">{{ project.name }}</h1>


        <!-- Project data -->
        <div class="col" style="display: flex">
            <div class="col col4">
                <span class="ps-label">Description</span>
                <p>{{ project.description }}</p>
                <div class="input-group">
                    <a href="{% url 'edit_project' project.id %}" class="btn btn-primary">Edit</a>
                    <div class="tooltip" style="display: flex;">
                        {% if project.id not in project_staff %}
                            <a href="{% url 'add_staff_project' project.id %}" class="green" style="align-items: center">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                            <span class="tooltiptext">Participate</span>
                        {% else %}
                            <a href="{% url 'delete_staff_project' project.id %}" class="red" style="align-items: center">
                                <i class="fa fa-times"></i>
                            </a>
                            <span class="tooltiptext">Unsubscribe</span>
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="col col4 project-sidebar">
                <div class="col8 ps-container">
                    <div class="col4 ps-group">
                        <p class="ps-label">Status</p>
                        <span>{{ project.status }}</span>
                    </div>
                    <div class="col4 ps-group">
                        <p class="ps-label">Priority</p>
                        <span>{{ project.priority }}</span>
                    </div>
                </div>
                <div class="col8 ps-container">
                    <div class="col4 ps-group">
                        <p class="ps-label">Git URL</p>
                        <span>{{ project.git_link }}</span>
                    </div>
                    <div class="col4 ps-group">
                        <p class="ps-label">Language</p>
                        <span>{{ project.language }}</span>
                    </div>
                </div>
                <div class="col8 ps-container">
                    <div class="col4 ps-group">
                        <p class="ps-label">Created by</p>
                        <span>{{ project.created_by }}</span>
                    </div>

                    <div class="col4 ps-group">
                        <p class="ps-label">Created</p>
                        <span>{{ project.created }}</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h1>Issues</h1>

        <!-- Add Issue -->
        <div class="input-group" style="margin-top: 15px;">
            <a href="{% url 'new_issue' project.id %}" style="" class="btn btn-accept">Add Issue</a>
        </div>

        {% if issues %}
        <table class="table">
            <thead>
            <tr>
                <th class="cell-main"> Name </th>
                <th> Status </th>
                <th> Priority </th>
                <th> Created by </th>
                <th> Last updated </th>
                <th class="cell-icon"> Edit </th>
                <th class="cell-icon"> Delete </th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
            <tr>
                <td class="cell-main">
                    <div class="table-main-cell">
                        <a href="{% url 'issue' issue.id %}">
                            {{ issue.name }}
                        </a>
                    </div>
                </td>
                <td><span>{{ issue.status }}</span></td>
                <td>
                    <span class="{% if issue.priority == 'Urgent'%} red {% endif %}">
                        {{ issue.priority }}
                    </span>
                </td>
                <td><span>{{ issue.created_by }}</span></td>
                <td><span>{{ issue.last_update| date:"d/m/Y - H:i:s" }}</span></td>
                <td class="cell-icon">
                    <a href="{% url 'edit_issue' issue.id %}" class="orange">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td class="cell-icon">
                    <a href="{% url 'delete_issue' issue.id %}" class="red">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                {% if issues.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ issues.previous_page_number }}">
                        {{ issues.previous_page_number }}
                    </a>
                </li>
                {% endif %}

                <li class="current {% if issues.paginator.num_pages == 1 %}
                               one-item
                           {% endif %}">
                    <a class="page-link" href="?page=1">{{ issues.number }}</a>
                </li>

                {% if issues.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ issues.next_page_number }}">
                        {{ issues.next_page_number }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ issues.paginator.num_pages }}">
                        Last
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
            <div class="message">
                <div class="alert alert-error">
                    0 Issues found
                </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}