{% extends 'project/index.html' %}

{% block title %}Projects{% endblock %}
{% block body %}
<section class="section">
    <div class="section-body">
        <h1 class="section-title">Projects</h1>
        <div class="input-group">
            <a href="{% url 'new_project' %}" class="btn btn-primary" style="position: absolute;">New project</a>

            <form action="{% url 'projects' %}" method="get" class="form-group" style="width: 100%">
                <div class="col col2 right">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search for projects">
                    <button class="btn btn-accept right" type="submit" style="margin-right: 3px">Search</button>
                </div>
            </form>
        </div>

        {% if projects %}
        <table class="table">
            <thead>
            <tr>
                <th class="cell-main"> Name </th>
                <th> Status </th>
                <th> Priority </th>
                <th> Created by </th>
                <th> Created </th>
                <th class="cell-icon"> Delete </th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <div class="table-main-cell">
                        <img src="{{ project.image }}">
                        <a href="{% url 'project' project.id %}">
                            {{ project.name }}
                        </a>
                    </div>
                </td>

                <td><span>{{ project.status }}</span></td>
                <td><span class="{% if project.priority == 'Urgent'%} red {% endif %}">{{ project.priority }}<span></span></td>
                <td><span>{{ project.created_by }}</span></td>
                <td><span>{{ project.created| date:"d/m/Y - H:i:s" }}</span></td>
                <td class="cell-icon">
                    <a href="{% url 'delete_project' project.id %}" class="red">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="message">
                {% if message %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <nav>
        <ul class="pagination">
            {% if projects.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.previous_page_number }}">
                    {{ projects.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="current {% if projects.paginator.num_pages == 1 %}
                           one-item
                       {% endif%}">
                <a class="page-link" href="?page=1">{{ projects.number }}</a>
            </li>

            {% if projects.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.next_page_number }}">
                    {{ projects.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ projects.paginator.num_pages }}">
                    Last
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</section>

{% endblock %}