{% extends 'project/index.html' %}

{% block title %}Users{% endblock %}
{% block body %}
<section class="section">
    <div class="section-body">
        <h1 class="section-title">Users</h1>
        {% if users %}
        <table class="table">
            <thead>
            <tr>
                <th> Username </th>
                <th> Email </th>
                <th> Name </th>
                <th> Role </th>
                <th> Birthday </th>
                <th> Biography </th>
                <th class="cell-icon"> Edit </th>
                <th class="cell-icon"> Delete </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <div class="table-main-cell">
                        <img src="{{ project.photo }}">
                        <span> {{ user.user.username }} </span>
                    </div>
                </td>
                <td><span>{{ user.user.email }}</span></td>
                <td><span>{{ user.user.first_name }}</span></td>
                <td><span>{{ user.role }}</span></td>
                <td><span>{{ user.birth_date }}</span></td>
                <td><span>{{ user.biography }}</span></td>
                <td class="cell-icon">
                    <a href="{% url 'edit_profile' user.id %}" class="orange">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td class="cell-icon">
                    <a href="{% url 'delete_user' user.user.id %}" class="red">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="message">
                {% if message %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <nav>
        <ul class="pagination">
            {% if users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ users.previous_page_number }}">
                    {{ users.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="current {% if users.paginator.num_pages == 1 %}
                           one-item
                       {% endif%}">
                <a class="page-link" href="?page=1">{{ users.number }}</a>
            </li>

            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.next_page_number }}">
                    {{ users.next_page_number }}
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ users.paginator.num_pages }}">
                    Last
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</section>

{% endblock %}