<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'my_projects' %}">
                <i class="fas fa-code"></i>
                My Projects
            </a>
        </li>
        <li>
            <a href="{% url 'my_events' %}">
                <i class="fas fa-calendar"></i>
                My Events
            </a>
        </li>
    </ul>

</div>