<nav class="nav">
    <div class="nav_menu">
        <ul>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'projects' %}">
                    <i class="fas fa-code"></i>Projects
                </a>
            </li>
            <li>
                <a href="{% url 'events' %}">
                    <i class="fas fa-calendar"></i>Events
                </a>
            </li>
            <li>
                <a href="{% url 'messages' %}">
                    <i class="fas fa-envelope sidebar-icon"></i>Messages
                </a>
            </li>
            <li>
                <div class="dropdown">
                    <a href="#">
                        <i class="fa fa-user"></i>{{ user.username }}
                        <i class="fa fa-caret-down" style="margin-left: 5px;"></i>
                    </a>
                    <div class="dropdown-menu">
                        {% if request.user.staff.role|stringformat:"s" == "Admin" %}
                        <a href="{% url 'dashboard' %}">
                            <i class="far fa-chart-bar"></i>Dashboard
                        </a>
                        {% endif %}
                        <a href="{% url 'profile' %}">
                            <i class="fas fa-cog"></i>Settings
                        </a>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>Logout
                        </a>
                    </div>
                </div>

            </li>
            {% else %}
            <li>
                <a href="{% url 'signin' %}">
                    <i class="fa fa-power-off" aria-hidden="true"></i>Login
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}">
                    <i class="fa fa-power-off" aria-hidden="true"></i>Sign Up
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>