<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Project - {% block title %}Home{% endblock %}</title>
    {% block stylesheets %} {% endblock %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous">
    </script>
    {% include 'project/include/nav.html' %}
</head>

<body>
    {% include 'project/include/aside.html' %}
    <div class="container">
        {% block body %} {% endblock %}

        <div class="footer">
            <p>
                Sergio Soler Conchello @ Colegio Montessori
            </p>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous">

    </script>
    <script>
        // Menu variable
        var $menu = $(".dropdown-menu");

        $(document).ready(function() {
            $menu.hide();
        });

        $(".dropdown").click(function(){
            $menu.toggle();
        });

        // Hide dropdown
        $("html").click(function(event) {
            if ($(event.target).closest('.dropdown').length === 0) {
                $menu.hide();
            }
        });

        $menu.click(function(event){
            event.stopPropagation();
        });
    </script>
</body>
</html>