{% extends 'project/index.html' %}
{% block title %}Dashboard{% endblock %}

{% block body%}
<section class="section">
    <div class="section-header">
        <h1 class="section-title">Dashboard</h1>
    </div>

    <div class="section-body">
        <div class="col col8 dashboard">
            <div class="dashboard-container">
                <div class="dashboard-container-header">
                    <a class="blue" href="{% url 'users' %}">
                        Users
                    </a>
                    <hr>
                </div>
                <div class="dashboard-container-body">
                    {{ users }}
                </div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard-container-header">
                    <a class="blue" href="{% url 'all_events' %}">
                        All Events
                    </a>
                    <hr>
                </div>
                <div class="dashboard-container-body">
                    {{ events }}
                </div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard-container-header">
                    Projects
                    <hr>
                </div>
                <div class="dashboard-container-body">
                    {{ projects }}
                </div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard-container-header">
                    Issues
                    <hr>
                </div>
                <div class="dashboard-container-body">
                    {{ issues }}
                </div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard-container-header">
                    Active events
                    <hr>
                </div>
                <div class="dashboard-container-body">
                    {{ active_events.count }}
                </div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard-container-header">
                    Comments
                    <hr>
                </div>
                <div class="dashboard-container-body">
                    {{ comments }}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}