{% extends 'project/index.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">Edit profile</h1>
        <form action="{% url 'update_profile' staff.id %}" class="form-group" method="post" enctype="multipart/form-data"
              xmlns:request.user.staff.role xmlns:request.user.staff.role xmlns:request.user.staff.role>
            {% csrf_token %}

            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group col col6">
                <div class="col col4">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{ staff.user.first_name }}">
                </div>

                <div class="col col4">
                    <label for="lastname">Lastname</label>
                    <input type="text" id="lastname" name="lastname" value="{{ staff.user.last_name }}">
                </div>
            </div>

            <div class="input-group col col6">
                <div class="col col8">
                    <label for="biography">Biography</label>
                    <textarea class="col col6" id="biography" name="biography"
                              placeholder="Biography" cols="30" rows="5">{{ staff.biography }}</textarea>
                </div>
            </div>

            <div class="input-group col col6">
                <div class="col col2">
                    <label for="birth_date">Birthday</label>
                    <input type="date" id="birth_date" name="birth_date">
                </div>

                {% if request.user.staff.role|stringformat:"s" == "Admin" %}
                <div class="col col2">
                    <label for="role">Role</label>
                    <select id="role" name="role" class="form-control">
                        {% for role in roles %}
                            <option value="{{ role.id }}"
                                {% if request.user.staff.role|stringformat:"s" == role.name|stringformat:"s" %}
                                    selected
                                {% endif %}>
                                {{ role.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}

                <div class="col col4">
                    <label for="photo">Photo</label>
                    <label for="photo" class="custom-file-label bg-red">
                        <i class="fas fa-file"></i>
                        <span id="photo_label">Browse</span>
                    </label>
                    <input type="file" id="photo" name="photo">
                </div>
            </div>

            <div class="input-group" style="margin: 15px;">
                <button class="btn btn-accept form-submit" type="submit">Send</button>
            </div>

            <hr>

        </form>
    </div>
</section>

<script>
    $( document ).ready(function() {
        $("#photo")
        .on('change', function(){
           document.getElementById("photo_label").innerHTML = this.files[0].name;
        });
    });
</script>

{% endblock %}


