* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
    height: 100%;
    min-height: 100%;
}
body{
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
}
a{
    color: black;
    text-decoration: none;
}
hr {
    clear: both;
    margin-top: 25px;
    border: 1px solid #BFC0C3;
}
.container {
    min-height: 100%;
    margin: 4em auto 0 250px;
    position: absolute;
    bottom: -110px;
    right: 0;
    left: 0;
}
/* ======= Sidebar =======*/
.sidebar{
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #D2D2D2; /*f4f5f7*/
    box-shadow: 2px 0 5px #888888;
    height: 100%;
    padding-bottom: 50px;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li {
    display: flex;
    list-style: none;
    border-bottom: 1px solid grey;
}
.sidebar li svg {
    margin-left: 50px;
    margin-right: 15px;
}
.sidebar a {
    width: 100%;
    color: #131415;
    padding: 1em 0;
}
.sidebar a:hover {
    background-color: #343A40;
    color: white;
}
/* ======= Sidebar =======*/
/* ======= Navbar =======*/
.nav{
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    margin-right: 10%;
    background-color: #343A40; /*#0B6EB4*/
    box-shadow: 0 2px 5px #888888;
}
.nav_menu{
    margin-left: 250px;
}
.nav_menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.nav_menu a {
    /* Dimensions */
	width: 100px;
	height: 60px;
	margin: 0;
	padding: 0;
	color: white;

    /* Submenu positioning */
    float: right;
    display: inline-flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	-webkit-flex-flow: row wrap;

	justify-content: center;
	align-items: center;

	/* Behaviour */
	cursor: pointer;

	/* Colours */
	background-color: #343A40; /*#343A40*/
}
.nav_menu a {
    border-left: 1px solid grey;
    padding: 0 0.5em;
}
.nav_menu li:last-child a{
    border-right: 1px solid grey;
}
.nav_menu a:hover {
    background-color: grey;
}
.nav_menu li {
    list-style: none;
}
.nav_menu li svg{
    margin-right: 10px;
}
.footer {
    padding: 15px 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #343A40;
    box-shadow: 2px 0 5px #888888;
}
.footer p {
    color: white;
    display: flex;
    justify-content: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    position: absolute;
    margin-top: 60px;
    background-color: #f1f1f1;
    z-index: 1;
}
.dropdown-menu a {
    min-width: 150px;
    border: 0;
    justify-content: left;
    padding-left: 20px;
    border-top: thin solid grey;
}
/* ======= Navbar =======*/
/* ======= Forms =======*/
.form-signin-header {
    width: 100%;
    padding: .75em 1em;
}
.form-group {
    width: 80%;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin: 10px 0;
}
.form-group input {
    width: 95%;
    color: black;
    padding: 10px 0 10px 10px;
    border: thin solid #d7dfe3;
    border-radius: 5px;
}
.form-group input:focus {
    box-shadow:inset 0 0 1px 1px #22C0FC;
}
.form-group textarea {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #888;
    width: -moz-available;
}
.form-group select {
    padding: 0.65em 1em;
    width: 100%;
    width: -moz-available;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group input[type=checkbox] {
    border-radius: 5px;
    padding: 5px;
    width: auto;
    margin-left: 15px;
}
.form-submit {
    margin-left: 10px;
    width: 150px;
}
input[type="file"] {
    display: none;
}
.custom-file-label {
    color: white;
    font-size: 1.25em;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 5px;
    cursor: pointer;
}
.input-group {
    display: flex;
}
.input-group a {
    display: flex;
}
.login {
    max-width: 300px;
    margin: auto;
}
/* ======= Forms =======*/
/* ======= Buttons =======*/
.btn {
    color: white;
    padding: .25em 1em;
    font-size: 1.25em;
    margin: .5em .25em;
    border-radius: 10px;
    cursor: pointer;
}
.btn-cancel {
    border: thin solid #FF0700;
    background-color: #FF0700;
}
.btn-accept {
    border: thin solid #07C832;
    background-color: #07C832;
}
.btn-primary {
    border: thin solid #087BFD;
    background-color: #087BFD;
}
.btn-warning {
    background-color: #FF8109;
    border: thin solid #FF8109;
}
.btn-submit {
    width: 95%;
}
/* ======= Buttons ======= */
/* ======= Sections ======= */
.section{
    margin: 0 10%;
}
.section-title {
    border-left: 4px solid #0162CE;
    padding: 0.4rem 1rem;
    margin: 1em .5em;
}
.section-title a {
    font-size: 20px;
    color: #4A6CA7;
}
.section-body {
    margin: 25px 25px;
}
/* ======= Sections ======= */
/* ======= Projects ======= */
.project-sidebar {
    display: table;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.ps-container {
    display: flex;
    margin-bottom: 10px;
}
.ps-group {
    padding-left: 7px;
}
.ps-label {
    margin-bottom: 5px;
    font-weight: bold;
}
/* ======= Project ======= */
/* ======= Events ======= */
.event {
    max-width: 350px;
    margin: 10px;
}
.event-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}
.event-header {
    color: white;
    background-color: #087BFD;
    border-radius: 10px 10px 0 0;
    padding: 1em 1em;
}
.event-header span {
    font-size: 18px;
    font-weight: bold;
}
.event-body {
    border: thin solid black;
    border-radius: 0 0 10px 10px;
    padding: 0 1em 1em 1em;
}
.event-body:first-line {
    padding: .5em 2em;
}
.event-body small {
    display: block;
    clear: both;
}
.event-options{
    margin: 2px 0 0 10px;
}
.event-options a {
    margin: 0 5px;
}
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    width: -moz-max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* ======= Events ======= */
/* ======= Dashboard ======= */
.dashboard {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-container {
    width: 150px;
    height:150px;
    background-color: #e9e9e9;
    padding: 10px;
    margin: 30px;
}
.dashboard-container-header {
    text-align: center;
    font-weight: bold;
}
.dashboard-container-header hr {
    margin: 5px 0 5px 0;
    border: 1px solid #1AA1F6;
}
.dashboard-container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-weight: bold;
    font-size: 40px;
}
/* ======= Dashboard ======= */
/* ======= Comments ======= */
.comment {
    padding-top: 1.5em;
    padding-left: 1.3em;
}
.comment-body{
    padding: .05em 1em;
    border-left: 3px solid red;
}
/* ======= Comments ======= */
/* ======= Tables ======= */
th, td {
    padding: 1em 1em;
    text-align: left;
}
thead {
    border-bottom: 2px solid #DFE1E6;
}
tbody {
    border-bottom: 2px solid #DFE1E6;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table-main-cell {
    align-items: center;
    display: flex;
}
.table-main-cell a {
    color: #4A6CA7;
}
.table-main-cell img {
    margin-right: 10px;
}
.cell-main {
    min-width: 180px;
}
.cell-icon {
    text-align: center;
    width: 50px;
}
/* ======= Tables ======= */
/* ======= Pagination ======= */
.page-item {
    border: thin solid grey;
}
.pagination {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 2em 5em;
}
.pagination li {
    border: thin solid #dfe1e6;
}
.pagination li a {
    display: block;
    padding: .5em .75em;
}
.pagination li:first-child {
    border-radius: 10px 0 0 10px;
}
.pagination li:last-child {
    border-radius: 0 10px 10px 0;
}
.current {
    background-color: #087BFD;
    border: thin solid #087BFD !important;
}
.pagination li:hover {
    background-color: #1AA1F6;
    border: thin solid #1AA1F6 !important;
}
.pagination li:hover a {
    color: white;
}
.one-item {
    border-radius: 10px !important;
}
.current a {
    color: white;
}
/* ======= Pagination ======= */
/* ======= Color ======= */
.bg-red {
    background-color: #FF0700;
}
.red {
    color: #FF0700;
}
.bg-green {
    background-color: #07C832;
}
.green {
    color: #07C832;
}
.bg-blue {
    background-color: #087BFD;
}
.blue {
    color: #087BFD;
}
.bg-orange {
    background-color: #FF8109;
}
.orange {
    color: #FF8109;
}
.bg-yellow {
    background-color: #FFC600;
}
.yellow {
    color: #FFC600;
}
/* ======= Color ======= */
/* ======= Alert ======= */
.message {
    padding: 20px 0 0 20px;
}
.alert {
    padding: 1em;
    width: -moz-fit-content;
    border: 2px solid black;
    border-radius: 10px;
}
.alert-success {
    border-color: #07C832;
}
.alert-error {
    border-color: #FF0700;
}
/* ======= Alert ======= */
/* ======= Position ======= */
.right {
    float: right;
}
.left {
    float: left;
}
/* ======= Position ======= */
/* ======= Columns ======= */
/* 8 column based*/
.col {
    padding: 5px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
.col2 {
    width: 25%;
}
.col4 {
    width: 50%;
}
.col6 {
    width: 75%;
}
.col8 {
    width: 100%;
}
/* ======= Columns ======= */
/**/
@media (min-width: 500px) {
  .event {
      width: 100%;
  }
}