{% extends 'project/index.html' %}

{% block title %}New Message{% endblock %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">New message</h1>
            <form action="{% url 'create_message' %}" class="form-group" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group col col6">

                <div class="col col4">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject">
                </div>

                <div class="col col4">
                    <label for="receiver">Send to</label>
                    <select id="receiver" name="receiver">
                        {% for staff in users %}
                            <option value="{{ staff.id }}">{{ staff.user.username }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="input-group col col8">
                <div class="col col6">
                    <label for="text">Text</label>
                    <textarea class="col col6" id="text" name="text"
                              placeholder="Message text" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="input-group col col2">
                <div class="col col8" style="display: flex;">
                    <label for="urgent">Urgent</label>
                    <input class="form-group" id="urgent" name="urgent" type="checkbox">
                </div>
            </div>

            <div class="input-group" style="margin: 0 10px 5px 15px;">
                <button class="btn btn-accept form-submit" type="submit">Send</button>
            </div>

            <hr>
        </form>
    </div>
</section>

{% endblock %}
