{% extends 'project/index.html' %}

{% block title %}
    {% if project_id %}
        New Issue
    {% else %}
        Update Issue
    {% endif %}
{% endblock %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">New issue</h1>

            {% if issue.id is None %}
                <form action="{% url 'create_issue' project_id %}" class="form-group" method="post" enctype="multipart/form-data">
            {% else %}
                <form action="{% url 'update_issue' issue.id %}" class="form-group" method="post" enctype="multipart/form-data">
            {% endif %}
            {% csrf_token %}


            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group col col8">
                <div class="col col2">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{ issue.name }}">
                </div>

                <div class="col col2">
                    <label for="status">Status</label>
                    <select id="status" name="status" class="form-control">
                        <option value="Open" {% if issue.status == 'Open' %} selected {% endif %}>Open</option>
                        <option value="Pending" {% if issue.status == 'Pending' %} selected {% endif %}>Pending</option>
                        <option value="Solved" {% if issue.status == 'Solved' %} selected {% endif %}>Solved</option>
                        <option value="Closed" {% if issue.status == 'Closed' %} selected {% endif %}>Closed</option>
                    </select>
                </div>

                <div class="col col2">
                    <label for="priority">Priority</label>
                    <select id="priority" name="priority" class="form-control">
                        <option value="Trivial" {% if issue.priority == 'Trivial' %} selected {% endif %}>Trivial</option>
                        <option value="Minor" {% if issue.priority == 'Minor' %} selected {% endif %}>Minor</option>
                        <option value="Major" {% if issue.priority == 'Major' %} selected {% endif %}>Major</option>
                        <option value="Urgent" {% if issue.priority == 'Urgent' %} selected {% endif %}>Urgent</option>
                    </select>
                </div>
            </div>

            <div class="input-group col col8">
                <div class="col col8">
                    <label for="description">Description</label>
                    <textarea class="col col8" id="description" name="description"
                              placeholder="Project description" cols="30" rows="5">{{ issue.description }}</textarea>
                </div>
            </div>

            <div class="input-group" style="float: right; margin-bottom: 10px;">
                <button class="btn btn-accept form-submit" type="submit">Save</button>
            </div>

            <hr>

        </form></form>
    </div>
</section>

{% endblock %}
