{% extends 'project/index.html' %}

{% block title %}
    {% if project.id %}
        Update Project
    {% else %}
        New Project
    {% endif %}
{% endblock %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">New project</h1>

            {% if project.id is None %}
                <form action="{% url 'create_project' %}" class="form-group" method="post" enctype="multipart/form-data">
            {% else %}
                <form action="{% url 'update_project' project.id %}" class="form-group" method="post" enctype="multipart/form-data">
            {% endif %}
            {% csrf_token %}


            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group col col8">
                <div class="col col2">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{ project.name }}">
                </div>

                <div class="col col2">
                    <label for="status">Status</label>
                    <select id="status" name="status" class="form-control">
                        <option value="In Development" {% if project.status == 'In Development' %} selected {% endif %}>
                            In Development
                        </option>
                        <option value="Pending" {% if project.status == 'Pending' %} selected {% endif %}>Pending</option>
                        <option value="Finished" {% if project.status == 'Finished' %} selected {% endif %}>Finished</option>
                    </select>
                </div>

                <div class="col col2">
                    <label for="priority">Priority</label>
                    <select id="priority" name="priority" class="form-control">
                        <option value="Trivial" {% if project.priority == 'Trivial' %} selected {% endif %}>Trivial</option>
                        <option value="Minor" {% if project.priority == 'Minor' %} selected {% endif %}>Minor</option>
                        <option value="Major" {% if project.priority == 'Major' %} selected {% endif %}>Major</option>
                        <option value="Urgent" {% if project.priority == 'Urgent' %} selected {% endif %}>Urgent</option>
                    </select>
                </div>

                <div class="col col2">
                    <label for="language">Language</label>
                    <input type="text" id="language" name="language" value="{{ project.language }}">
                </div>
            </div>

            <div class="input-group col col8">
                <div class="col col8">
                    <label for="description">Description</label>
                    <textarea class="col col8" id="description" name="description"
                              placeholder="Project description" cols="30" rows="5">{{ project.description }}</textarea>
                </div>
            </div>

            <div class="input-group col col8">
                <div class="col col4">
                    <label for="git_link">Git Url</label>
                    <input type="text" id="git_link" name="git_link" value="{{ project.git_link }}">
                </div>
            </div>

            <div class="input-group" style="float: right; margin-bottom: 10px;">
                <button class="btn btn-accept form-submit" type="submit">Save</button>
            </div>

            <hr>

        </form></form>
    </div>
</section>

{% endblock %}
