{% extends 'project/index.html' %}

{% block title %}
    {% if event.id %}
        Update Event
    {% else %}
        New Event
    {% endif %}
{% endblock %}

{% block body %}

<section class="section">
    <div class="section-body">
        <h1 class="section-title">New event</h1>
            {% if event.id is None %}
                <form action="{% url 'create_event' %}" class="form-group" method="post">
            {% else %}
                <form action="{% url 'update_event' event.id %}" class="form-group" method="post">
            {% endif %}
            {% csrf_token %}


            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group col col8">
                <div class="col col2">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{ event.name }}">
                </div>

                <div class="col col2">
                    <label for="category">Category</label>
                    <select id="category" name="category" class="form-control">
                        <option value="Meeting" {% if event.category == 'Meeting' %} selected {% endif %}>
                            Meeting
                        </option>
                        <option value="Birthday" {% if event.category == 'Birthday' %} selected {% endif %}>
                            Birthday
                        </option>
                        <option value="Dinner" {% if event.category == 'Dinner' %} selected {% endif %}>
                            Dinner
                        </option>
                        <option value="Visit" {% if event.category == 'Visit' %} selected {% endif %}>
                            Visit
                        </option>
                        <option value="Team-building" {% if event.category == 'Team-building' %} selected {% endif %}>
                            Team-building
                        </option>
                    </select>
                </div>

                <div class="col col2">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="location" value="{{ event.location }}">
                </div>

                <div class="col col2">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" value="{{ event.date|date:'d/m/Y' }}">
                </div>
            </div>

            <div class="input-group col col8">
                <div class="col col8">
                    <label for="description">Description</label>
                    <textarea class="col col8" id="description" name="description"
                              placeholder="Event description" cols="30" rows="5">{{ event.description }}</textarea>
                </div>
            </div>

            <div class="input-group col col2">
                <div class="col col8" style="display: flex;">
                    <label for="assistance">Allow assistance</label>
                    <input type="checkbox" class="form-group" id="assistance" name="assistance"
                           {% ifequal event.assistance True %} checked {% endifequal %}>
                </div>
            </div>

            <div class="input-group" style="float: right; margin-bottom: 10px;">
                <button class="btn btn-accept form-submit" type="submit">Save</button>
            </div>

            <hr>

        </form></form>
    </div>
</section>



{% endblock %}

{% block javascripts %}
<script>
    {% if event.id is not None %}
        $( document ).ready(function() {
            document.getElementById("date").value="{{ event.date| date:'d/m/Y' }}";
        });
    {% endif %}
</script>
{% endblock %}
